.menu-title {
  font-size: 18px;
  font-weight: 600;
}

.fundamental-header {
  background: #f0f5ff !important;
  border-bottom: 1px solid #bfbfbf;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.header-logo {
  float: left;
  width: 256px;
}

.header-content {
  float: left;
  width: calc(100% - 256px);
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

@media only screen and (max-width: 767px) {
  .header-logo {
    display: none;
  }

  .header-content {
    width: 100%;
  }
}

.site-layout-content {
  background: white;
}
